h1 {
    text-align: center;
    max-width: 400px;
    margin: 2rem auto;
}

.action-button {
    background-color: aqua;
    height: 2rem ;
    border-radius:  8px;
    width: 100%;
    transition: all 01.s ease;
    cursor: pointer;
}

.action-button:active{ 
transform: scale(0.98) translateY(1px);
background-color: #00d4d4;
}

form{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#form-control {
    margin-bottom: 1rem;
}

#form-control input {
    width: 100%;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 1em;
    /* font-family: inherit; */
    box-sizing: border-box;
}

#form-control input:focus{
    outline: none; 
    border-color:lightblue ;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}