@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

body{
    background-color:  rgba(209, 209, 10, 0.11);
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Caveat', cursive;
}

/* Change only the font of the input boxes */
input, textarea, select {
    font-family: 'Segoe UI', sans-serif;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dinner-card{
    background-color: rgb(150, 150,150 )
}

p {
  font-size: 2.0rem;  
}
 h3 {
    font-size: 2rem;
 }