#top-ribbon{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
#details-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#guest-ribbon{
    display:flex;
    align-items: center;
    justify-content: space-between;
}