#top-ribbon{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
#details-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#guest-ribbon{
    display:flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#guest-ribbon p {
    font-size: 1.5rem;
}

#buttons-container {
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 8%;
    
}

#edit-button{
    height: 45px;
    width: 25%;
    background-color: rgba(128, 128, 128, 0.716);
}

#delete-button{
    width: 25%;
    background-color: rgba(199, 26, 26, 0.447);
}